.additional {
  width: 320px;
  margin: 0 auto;
}

.additional__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.additional__item {
  display: flex;
  flex-direction: column;
}

.additional__item-wrapper {
  display: flex;
  flex-direction: column;
}

.additional__caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $input-black;
  text-transform: uppercase;
}

.additional__volume {
  font-size: 14px;
  line-height: 14px;
  font-family: $arial;
}

.additional__price {
  font-size: 14px;
  line-height: 14px;
  font-family: $arial;
}

.additional__order {
  font-size: 16px;
  line-height: 20px;
}

.additional__offer {
  min-height: 289px;

  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.additional__offer-title {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .additional {
    width: 768px;
  }

  .additional__title {
    font-size: 36px;
    line-height: 36px;
  }

  .additional__item-wrapper {
    flex-direction: row;
  }

  .additional__caption {
    font-size: 20px;
    line-height: 20px;
  }

  .additional__volume {
    font-size: 16px;
    line-height: 20px;
  }

  .additional__price {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    width: 1440px;
  }

  .additional__item {
    flex-direction: row;
  }
}
