.additional {
  position: relative;

  width: 320px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 29px;

  &::before {
    content: "";
    position: absolute;
    top: 43px;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: $green;
  }
}

.additional__title {
  position: relative;

  display: inline-block;
  margin: 0;
  margin-bottom: 34px;
  padding-right: 22px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  background-color: #ffffff;
}

.additional__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.additional__item {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 17px;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional__wrapper-item {
  display: flex;
  flex-direction: column;
}

.additional__caption {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $input-black;
  text-transform: uppercase;
}

.additional__wrapper-cost {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}

.additional__volume {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  font-family: $arial;
}

.additional__price {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  font-family: $arial;
}

.additional__offer {
  width: 280px;
  margin: 0 auto;
}

.additional__offer-wraper {
  position: relative;

  min-height: 289px;
  padding-top: 188px;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;

    width: 55px;
    height: 60px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateX(-50%);
  }
}

.additional__offer-title {
  width: 170px;
  margin: 0 auto;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 20px;
  font-family: $arial;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .additional {
    width: 768px;
    margin-bottom: 76px;

    &::before {
      top: 50px;
    }
  }

  .additional__title {
    margin-bottom: 80px;
    margin-left: 30px;
    padding-right: 37px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;
  }

  .additional__list {
    width: 708px;
    margin-bottom: 69px;
  }

  .additional__item {
    padding-top: 25px;
    padding-right: 36px;
    padding-bottom: 27px;
    padding-left: 36px;

    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .additional__wrapper-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 22px;
  }

  .additional__caption {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .additional__wrapper-cost {
    margin-bottom: 0;
  }

  .additional__volume {
    margin-right: 52px;

    font-size: 16px;
    line-height: 20px;
  }

  .additional__price {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .additional__offer {
    width: 708px;
  }

  .additional__offer-wraper {
    min-height: 200px;
    padding-top: 73px;
    padding-right: 115px;
    padding-left: 424px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }

    &::before {
      top: 50%;
      left: 90px;

      transform: translateY(-50%);
    }
  }

  .additional__offer-title {
    width: auto;
    // margin: 0 auto;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    width: 1300px;
    margin-bottom: 85px;
    padding-right: 0;
    padding-left: 0;
  }

  .additional__title {
    margin-left: 0;
  }

  .additional__wrapper {
    display: flex;
  }

  .additional__list {
    width: 75%;
    margin: 0;
    padding-right: 40px;
    padding-left: 40px;
  }

  .additional__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;

    border-right: none;
    border-left: none;
  }

  .additional__wrapper-item {
    width: 68%;  //610px
    margin-right: 40px;
    margin-bottom: 0;
  }

  .additional__wrapper-cost {
    width: 47%;   //285px
  }

  .additional__order {
    flex-grow: 1;
  }

  .additional__offer {
    display: flex;
    width: 25%; //325px
    margin: 0;
    padding-right: 40px;
    padding-left: 40px;
  }

  .additional__offer-wraper {
    padding-top: 187px;
    padding-right: 0;
    padding-left: 0;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }

    &::before {
      top: 22%;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  .additional__offer-title {
    margin-right: 35px;
    margin-left: 35px;

    text-align: center;
  }
}
