.example {
  width: 320px;
  margin: 0 auto;

  background-color: $gray;
  display: flex;
  flex-direction: column;
}

.example__wrapper-big {
  display: flex;
  flex-direction: column;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.example__text {
  font-family: $arial;
}

.example__wrapper-small {
  display: flex;
  flex-direction: column;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;
}

.example__parameter {
  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
}

.example__description {
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.example__toggle {
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  background-color: $gray;
  border: none;
}

@media (min-width: $tablet-width) {
  .example {
    width: 768px;
  }

  .example__title {
    font-size: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper-small {
    flex-direction: row;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__parameter {
    font-size: 14px;
    line-height: 14px;
  }

  .example__description {
    font-size: 20px;
  }

  .example__toggle {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: 1300px;
    flex-direction: row;
  }

  .example__wrapper-big {
    width: 610px;
  }
}
