.example {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  background-color: $gray;
}

.example__wrapper {
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 35px;
}

.example__wrapper-big {
  display: flex;
  flex-direction: column;

  &--description {
    margin-bottom: 34px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.example__text {
  width: 270px;
  margin: 0;
  margin-bottom: 24px;

  font-family: $arial;
}

.example__wrapper-small {
  display: flex;
  flex-direction: column;
}

.example__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  text-align: center;
}

.example__value {
  display: block;
  width: 125px;
  height: 55px;
  padding-top: 13px;

  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__parameter {
  position: relative;
  top: -8px;

  display: inline-block;
  width: 88px;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 12px;
  line-height: 12px;
  font-family: $arial;

  background-color: $gray;
}

.example__description {
  margin: 0;

  line-height: 20px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.example__before {
  margin-bottom: 33px;
}

.example__range-control {
  display: flex;
  justify-content: center;
  align-items: baseline;

  text-align: center;
}

.example__toggle {
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  background-color: $gray;
  border: none;
}

.example__range-scale {
  position: relative;

  width: 84px;
  height: 14px;
  margin: 0 16px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example__range-bar {
  position: absolute;
  top: 3px;
  left: 4px;

  display: block;
  width: 35px;
  height: 6px;

  background-color: $green;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example {
    width: 768px;
  }

  .example__wrapper {
    width: 708px;
  }

  .example__title {
    margin-bottom: 60px;

    font-size: 60px;
  }

  .example__text {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper-small {
    flex-direction: row;
    justify-content: space-between;
  }

  .example__list {
    width: 370px;
  }

  .example__value {
    width: 162px;
    height: 72px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__parameter {
    width: 140px;
    padding-right: 5px;
    padding-left: 5px;

    font-size: 14px;
    line-height: 14px;
  }

  .example__description {
    width: 190px;

    font-size: 20px;
    text-align: right;
  }

  .example__toggle {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    flex-direction: row;
    width: 1440px;
  }

  .example__wrapper {
    display: flex;
    width: 1300px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .example__wrapper-big {
    width: 50%;
    padding-right: 40px;
    padding-left: 40px;
  }

  .example__text {
    margin-bottom: 70px;
  }

  .example__wrapper-small {
    flex-direction: column;
    justify-content: flex-start;
  }

  .example__list {
    margin-bottom: 50px;
  }

  .example__description {
    display: flex;
    justify-content: space-between;
    width: 325px;

    text-align: left;
  }
}
