.features {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.features__title {
  width: (280px / 320px) * 100%;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 28px;
  margin-left: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.features__list {
  @include list-reset;
}

.features__item {
  position: relative;

  width: (280px / 320px) * 100%; //87.5%
  margin: 0 auto;
  margin-bottom: 23px;
  padding-left: 80px;

  // &:last-child {
  //   margin-bottom: 42px;
  // }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $green;
  }

  &--nutrients::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }

  &--eating::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }

  &--month::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }
}

.features__text {
  margin: 0;
  padding-top: 3px;

  font-family: $arial;
}

@media (min-width: $tablet-width) {
  .features {
    width: 768px;
    margin-bottom: 0;

    border-bottom: 1px solid #e6e6e6;
  }

  .features__title {
    margin-bottom: 72px;
    margin-left: 30px;

    font-size: 60px;
    line-height: 60px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    padding-bottom: 102px;
  }

  .features__item {
    width: 50%;
    margin-bottom: 135px;
    padding-top: 111px;
    padding-right: 90px;
    padding-left: 30px;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      top: 0;
      left: 30px;

      width: 80px;
      height: 80px;
    }
  }

  .features__text {
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1300px;

    border-bottom: none;
  }

  .features__title {
    margin-left: 40px;
  }

  .features__list {
    padding-bottom: 0;
  }

  .features__item {
    width: (100% / 4);
    margin-bottom: 0;
    padding-top: 112px;
    padding-right: 40px;
    padding-left: 40px;

    &::before {
      left: 40px;
    }
  }
}
