.input-radio {
  margin-bottom: 25px;
}

.input-radio__label {
  position: relative;

  padding-left: 29px;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .input-radio {
    margin-bottom: 30px;
  }
}
