.input-text {
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;

  &--email {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 18px;

      display: block;
      width: 17px;
      height: 13px;

      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: translateY(-50%);
    }
  }

  &--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;

      display: block;
      width: 20px;
      height: 20px;

      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform: translateY(-50%);
    }
  }
}

.input-text__label {
  margin-right: 12px;
}

.input-text__input {
  flex-grow: 1;
  height: 45px;
  padding-right: 15px;
  padding-left: 15px;

  font: inherit;
  text-transform: uppercase;

  border: solid 1px $border;

  &:hover {
    border: solid 1px $border-hover;
  }

  &:active {
    border: solid 2px $border-active;
    outline: none;
  }

  &--email {
    padding-right: 40px;
  }

  &--tel {
    padding-right: 40px;
  }
}

@media (min-width: $tablet-width) {
  .input-text {
    margin-bottom: 20px;
  }

  .input-text__label {
    margin-right: 16px;
  }

  .input-text__input {
    height: 52px;
    padding-left: 18px;
  }
}

@media (min-width: $desktop-width) {
  .input-text {
    &--contacts {
      width: 570px;
    }

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }
}
