.input-radio {
  margin-bottom: 25px;
}

.input-radio__input + .input-radio__label {
  position: relative;

  padding-left: 45px;

  cursor: pointer;

  &:hover::before {
    border-color: $border-hover;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 30px;
    height: 30px;

    border: 1px solid $border;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.input-radio__input:checked + .input-radio__label {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 9px;

    display: block;
    width: 12px;
    height: 12px;

    background-color: $green;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.input-radio__input:focus + .input-radio__label::before {
  // outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  // outline: rgb(59, 153, 252) auto 5px;
}

@media (min-width: $tablet-width) {
  .input-radio {
    margin-bottom: 33px;
  }

  .input-radio__input + .input-radio__label {
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .input-radio__input:checked + .input-radio__label {
    &::after {
      left: 11px;

      width: 18px;
      height: 18px;
    }
  }
}
