.input-checkbox {
  margin-bottom: 24px;
}

.input-checkbox__input + label {
  position: relative;

  padding-left: 45px;

  cursor: pointer;

  &:hover::before {
    border-color: $border-hover;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 30px;
    height: 30px;

    border: 1px solid $border;
    transform: translateY(-50%);
  }
}

.input-checkbox__input:focus + label::before {
  // outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  // outline: rgb(59, 153, 252) auto 5px;
}

.input-checkbox__input:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;

    display: block;
    width: 20px;
    height: 10px;

    border-bottom: 2px solid $green;
    border-left: 2px solid $green;
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .input-checkbox {
    width: 284px;
    margin-bottom: 52px;
  }

  .input-checkbox__input + label {
    padding-left: 55px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .input-checkbox__input:checked + label {
    &::after {
      top: 8px;
      left: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .input-checkbox {
    width: 25%;
    padding-right: 40px;
    padding-left: 40px;
  }
}
