.input-checkbox {
  margin-bottom: 24px;
}

.input-checkbox__label {
  padding-left: 30px;
}

@media (min-width: $tablet-width) {
  .input-checkbox {
    width: 284px;
    margin-bottom: 52px;
  }

  .input-checkbox__label {
    padding-left: 40px;
  }
}
