.item__caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.item_description {
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
}

.item__order {
  font-size: 16px;
  line-height: 20px;
}
