.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 2px solid #68b738;
  }
}
