.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.page-header__logo {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 15px;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__nav-toggle {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 50px;
  height: 60px;
  padding: 0;

  background-color: #ffffff;
  border: none;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    right: 20px;

    width: 23px;
    height: 2px;

    background-color: #000000;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}


@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    width: 708px;
  }

  .page-header__logo {
    padding: 0;
    padding-top: 20px;

    border: none;
  }

  .page-header__nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
  }
}
