.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  background-color: $gray;
}

.page-footer__map {
  height: 362px;

  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 45%, 0 -38px;
  background-size: 58px 53px, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@2x.png");
    // background-position: 50% 45%, 0 -38px;
    background-size: 58px 53px, 320px auto;
  }

  iframe {
    width: 100%;
    height: 100%;

    border: 0;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 16px;
}

.page-footer__logo {
  padding-bottom: 30px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__map {
    height: 396px;

    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
    background-position: 50% 50%, 0 -4px;
    background-size: auto, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@2x.png");
      // background-position: 50% 50%, 0 -4px;
      background-size: auto, 767px auto;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;
    width: 708px;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .page-footer__logo {
    padding: 0;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;

    width: 1440px;
  }

  .page-footer__wrapper {
    width: 1220px;
  }

  .page-footer__map {
    height: 400px;

    background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
    background-position: 76% 50%, 0 0;
    background-size: auto, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@2x.png");
      background-size: auto, 1440px auto;
    }
  }
}
