.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  background-color: $gray;
}

.page-footer__map {
  min-height: 365px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__map {
    min-height: 400px;
  }

  .footer__wrapper {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1440px;
    position: relative;
  }
}
