.programs__header {
  color: #ffffff;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.programs__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.programs__form-link {
  font-size: 14px;
  line-height: 18px;
}
