.program-types {
  text-align: left;
}

.program-types__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.program-types__item {
  background-color: $gray;
}

.program-types__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
}

.program-types__text {
  font-family: $arial;
}

.program-types__link {
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-types__title {
    font-size: 36px;
  }

  .program-types__text {
    font-size: 16px;
    line-height: 24px;
  }

  .program-types__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program-types__list {
    flex-direction: row;
  }
}
