.table {
  width: 100%;

  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
}

.table tbody {
  width: 100%;
}

.table__parameter {
  padding: 0;
}

.table__value {
  padding: 0;

  text-align: right;
}

@media (min-width: $tablet-width) {
  .table {
    font-size: 16px;
  }

  .table td {
    padding-top: 8px;
    padding-bottom: 7px;

    border-bottom: 1px solid #cdcdcd;
  }
}
